@charset "UTF-8";

body.online #offline{
	display:none;
}
body.offline #offline{
display: block;
	width: 100vw;
	height: 100vh;
	background-color: white;
	color: black;
	position: fixed;
	z-index: 9999;
	padding: 30px;
	box-sizing: border-box;
	top: 0px;
	font-family: mont-light;
	text-align: center;
	opacity: 0.9;
}

@font-face {
	font-family: icons;
	src: url('../fonts/weathericons.ttf');
}

@font-face {
	font-family: mont-light;
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: mont-med;
	src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: mont-bold;
	src: url('../fonts/Montserrat-Bold.ttf');
}

.weekly-container {
	display: grid;
	grid-template-columns: 70% 15% 15%;
	height: 5vh;
}

.location-permission {
	position: fixed;
	background-color: white;
	top: 30vh;
	width: 75vw;
	height: 30vh;
	left: 13vw;
	text-align: center;
	font-family: mont-med;
	border: 3px solid black;
}

.permission-buffer {
	height: 17vh;
}

.permission-footer {
	bottom: 0;
	display: grid;
	grid-template-columns: 5% 30% 30% 30% 5%;
}

.weekly-temp-tomorrow {
	font-family: mont-bold;
	color: white;
	padding-right: 1vh;
	text-shadow: none;
}

.weekly-temp-day2 {
	font-family: mont-bold;
	color: white;
	padding-right: 1vh;
	text-shadow: none;
}

.weekly-temp-day3 {
	font-family: mont-bold;
	color: white;
	padding-right: 1vh;
	text-shadow: none;
}

.tomorrow {
	font-family: mont-bold;
	color: white;
	padding-left: 1vh;
	text-shadow: none;
}

.CurrentLocTitle {
	font-size: 24px;
	padding-left: 10px;
	font-family: mont-light;
}

.customButton {
    background-color: rgb(255,153,72);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	width: 100%;
	border-radius: 5px;
}

.customButton:active {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #45a049;
}

.day2 {
	font-family: mont-bold;
	color: white;
	padding-left: 1vh;
	text-shadow: none;
}

.day3 {
	font-family: mont-bold;
	color: white;
	padding-left: 1vh;
	text-shadow: none;
}
.weekly-icon-day2 {
	text-align: center;
	font-family: icons;
	color: white;
	font-size: 18px;
	padding-right: 1vh;
	text-shadow: none;
}

.weekly-icon-tomorrow {
	text-align: center;
	font-family: icons;
	color: white;
	font-size: 18px;
	padding-right: 1vh;
	text-shadow: none;
}

.addLocation-title {
	font-size: 24px;
	padding-top: 5vh;
	padding-left: 5px;
	font-family: mont-light;
}

.weekly-icon-day3 {
	text-align: center;
	font-family: icons;
	color: white;
	font-size: 18px;
	padding-right: 1vh;
	text-shadow: none;
}

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 20px;
}

.locations-content {
	padding-left: 20px;
	padding-top: 10px;
}

.tutorial-title-1 {
	height: 5vh;
	padding-top: 5vh;
	font-size: 24px;
	text-align: center;
	font-family: mont-light;
}
.tutorial-title-2 {
	height: 5vh;
	padding-top: 5vh;
	font-size: 24px;
	text-align: center;
	font-family: mont-light;
}
.tutorial-title-3 {
	height: 5vh;
	padding-top: 5vh;
	font-size: 24px;
	text-align: center;
	font-family: mont-light;
}
.tutorial-title-buffer {
	height: 5vh;
}

.tutorial-content-1 {
	margin-left: 15px;
	margin-right: 15px;
	height: calc(100vh - 28vh);
	font-family: mont-med;
	font-size: 14px;
}
.tutorial-content-2 {
	margin-left: 15px;
	margin-right: 15px;
	height: calc(100vh - 28vh);
	font-family: mont-med;
	font-size: 14px;
}
.tutorial-content-3 {
	margin-left: 15px;
	margin-right: 15px;
	height: calc(100vh - 28vh);
	font-family: mont-med;
	font-size: 14px;
}

.tutorial-footer {
	height: 6vh;
}

.owl-content {
	padding-left: 20px;
	padding-top: 10px;
	height: calc(100vh - 50vh);
	background: beige;
}

.owl-footer {
	text-align: left;
	background: aquamarine;
}

/* Theme from https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.owl-carousel .owl-item{
  /*background: black;*/
  	height: calc(100vh - 5vh);
	background: blue;
}

.location-name {
	font-size: 32px;
	padding-left: 10px;
}

.current-location-name {
	font-size: 32px;
	padding-left: 10px;
	font-family: mont-light;
}

.current-location-name-small {
	font-size: 24px;
	padding-left: 10px;
	font-family: mont-light;
}

.location-name-small {
	font-size: 20px;
	padding-top: 5vh;
	padding-left: 5px;
}

.location-name-small-1 {
	font-size: 20px;
	padding-top: 5vh;
	padding-left: 5px;
}

.location-name-small-2 {
	font-size: 20px;
	padding-top: 5vh;
	padding-left: 5px;
}

.location-name-small-3 {
	font-size: 20px;
	padding-top: 5vh;
	padding-left: 5px;
}

.today {
	padding-left: 10px;
	font-family: mont-med;
}

.refresh {
	text-align: center;
	padding-right: 1vh;
}

.container-1 {
	display: grid;
	grid-template-columns: 85% 15%;
	height: 10vh;
	/* background: coral; */
}

.popup {
	/* background: linear-gradient(to right, rgb(202,48,88) , rgb(255,153,72)); */
	background: white;
	border: 2px solid rgb(255,153,72);
	position: absolute;
	top: 30vh;
	width: 75vw;
	height: 30vh;
	left: 13vw;
	border-radius: 4px;
}

.popup-question {
	padding-top: 3vh;
	font-family: mont-light;
	color: black;
	font-size: 18px;
	text-align: center;
}

.popup-buffer {
	height: 15vh;
}

.popup-footer{
	bottom: 0;
	display: grid;
	grid-template-columns: 5% 30% 30% 30% 5%;
}

.allow-button {
	background-color: white;
	border-radius: 4px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-med;
	text-decoration: none;
	text-shadow: none;
}

.decline-button {
	background-color: white;
	border-radius: 4px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-med;
	text-decoration: none;
	text-shadow: none;
}

.yes-button {
	background-color: rgb(255,153,72);
	border-radius: 4px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-bold;
	text-decoration: none;
	text-shadow: none;
}

.no-button {
	background-color: rgb(255,153,72);
	border-radius: 4px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-bold;
	text-decoration: none;
	text-shadow: none;
}

.container-2 {
	height: 50vh;
}

.container-3 {
	clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
	background: linear-gradient(to right, rgb(202,48,88) , rgb(255,153,72));
	height: calc(100vh - 60vh);
}

.container-3-buffer {
	height: 18vh;
}

.section-1 {
	background: white;
	width: 100vw;
	height: 100vh;
}

.CurrentLocTitle {
	font-size: 24px;
	padding-left: 10px;
	border-radius: 10px;
	font-family: mont-light;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid rgb(202,48,88);
	margin: 20px;
	color: black;
}

.list {
	padding: 0;
	list-style-type: none;
}

.addedLocation {
	font-size: 24px;
	padding-left: 10px;
	border-radius: 10px;
	font-family: mont-light;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid rgb(255,153,72);
	margin: 20px;
	color: black;
}

.section-1-locations {
	background: white;
	width: 100vw;
	height: 100vh;
}

.list-buffer {
	height: 5vh; 
}

.loc-grid {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

.button-container {
	position: fixed;
	bottom: 0;
	width: 89vw;
}

.locations-list {
	height: calc(100vh - 32vh);
}

.loc-button {
	background: coral;
	width: 75%;
	position: relative;
	top: 50%;
	left: 12%;
	transform: translateY(-50%);
	text-align: center;
}

.currentLocationItem {
	height: 8vh;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	text-align: left;
	
}

.page-title {
	font-size: 32px;
	padding-left: 15px;
	padding-top: 15px;
	font-family: mont-light;
	height: 10vh;
}

.back-button {
	background-color: white;
	border-radius: 4px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-bold;
	text-decoration: none;
}

.addLocation-field {
	padding-top: 2vh;
	display: grid;
	grid-template-columns: 20% 60% 20%;
}

.add-button {
	background: linear-gradient(to right, rgb(202,48,88) , rgb(255,153,72));
	border-radius: 25px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-bold;
	text-decoration: none;
}

.add-location-button {
	background: linear-gradient(to right, rgb(202,48,88) , rgb(255,153,72));
	border-radius: 25px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
	cursor: pointer;
	font-family: mont-bold;
	text-decoration: none;
}


.refresh-button {
	padding-top: 1vh;
}

.hyperspan {
	position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

.footer {
	bottom: 0;
	position: fixed;
	display: grid;
	grid-template-columns: 75% 25%;
	width: 100vw;
}

.location-footer {
	bottom: 0;
	position: fixed;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	width: 100vw;
}

.back-button {
	text-align: center;
}

.icon-buffer {
	height: 10vh;
}

.weather-icon {
	text-align: center;
	height: 12vh;
	font-family: icons;
	font-size: 72px;
	color: black;
	text-shadow: none;
}

.time-stamp {
	font-size: 10px;
	text-align: left;
	color: white;
	font-family: mont-light;
	padding-left: 2vw;
	padding-top: 3vh;
	text-shadow: none;
}

#currentLocation {
	/* background-image: url(https://media.giphy.com/media/4Lr1TnWWfPwqs/giphy.gif); */
}

.owl-body {
	font-size: 12px;
}

.feels-like {
	font-size: 12px;
	text-align: center;
}

.current-temp {
	text-align: center;
	width: 100%;
	font-family: mont-bold;
	font-size: 52px;
	/* color: rgb(202,48,88); */
}

.current-cond {
	padding-top: 5px;
	text-align: center;
	font-family: mont-light;
}

.community-ratings {
	padding-top: 5px;
	text-align: center;
	font-family: mont-bold;
	font-size: 10px;
}

.button-buffer {
	height: 68vh;
}
