@charset "UTF-8";

body.online #offline{
	display:none;
}
body.offline #offline{
display: block;
	width: 100vw;
	height: 100vh;
	background-color: gray;
	color: white;
	position: fixed;
	z-index: 9999;
	padding: 30px;
	box-sizing: border-box;
	top: 0px;
}

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 20px;
}

.locations-content {
	padding-left: 20px;
	padding-top: 10px;
}

.owl-content {
	padding-left: 20px;
	padding-top: 10px;
	height: 100vh;
}

.owl-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: left;
}

.owl-carousel .owl-item{
  /*background: black;*/
	height: 100vh;
}

.location-name {
	font-size: 32px;
	padding-left: 10px;
}

.Today {
	padding-left: 10px;
}

.time-stamp {
	font-size: 10px;
	position: fixed;
	bottom: 0;
	padding-bottom: 5px;
	width: 100%;
	text-align: left;
}

.weather-icon {

}

#currentLocation {
	background-image: url(https://media.giphy.com/media/4Lr1TnWWfPwqs/giphy.gif);
}

.feels-like {
	font-size: 12px;
	text-align: center;
}

.current-temp {
	text-align: center;
	width: 100%;
	padding-top: 25vh;
	font-size: 52px;
}

.current-cond {
	padding-top: 5px;
	text-align: center;
}
