@charset "utf-8";
/* CSS Document */

.bg-custom {
	background: -moz-linear-gradient(to bottom right, #20b292, #2089b2);
	height: 600px;
	text-align: center;
	border-radius: 0px;
}

.jumbotron img {
	position: absolute;
}

.location-icon {
	position: relative;
	left: 10px;
	top: 10px;
}

.add-icon {
	position: relative;
	right: 10px;
	top: 10px;
}

.banner {
	background: -moz-linear-gradient(to bottom right, #20b292, #b22040);
	
}


.menu {
	padding: 2px;
	top: 0;
	height: 50px;
	width: 50px;
}